__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

*.egg-info/
dist/
build/
*.egg

.env
*.env
!.env.example

*.log
*.dump
pgdata/
data/
output/
notebooks/.ipynb_checkpoints/
.vscode/
*.csv

